.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInput{
  margin-bottom: 15px;
}
.input{
  font-size: 16px;
  padding: 10px;
  width: 400px;
}
.btn{
  font-size: 16px;
  padding: 10px;
  width: 200px;
  background-color: dodgerblue;
  color: aliceblue;
  cursor: pointer;
}
label{
  font-weight: 500;
}